h3 {
  color: black;
  background-color: white;
  margin-bottom: 2vh;
}

input {
  margin-left: 1vw;
  margin-bottom: 1vh;
  width: 64vw;
}

  input.form-control {
    border-radius: 0;
  }

button.btnAddAuto {
  color: black;
  background-color: white;
  width: 20vw;
  padding: 0.5em;
  margin-bottom: 3vh;
  margin-top: 3vh;
}

.input-group-text {
  color: black;
  background-color: white;
  width: 5em
}

.scrollHeader {
  width: 1em;
}
