<h3>Профиль</h3>

<h6 *ngIf="nullBooking">Брони отсутствуют</h6>

<table class="table" *ngIf="notnullBooking">
  <thead class="thead-light">
    <tr>
      <th class="th-sm">Номер брони </th>
      <th class="th-sm">Регистрационный номер </th>
      <th class="th-sm">Статус брони </th>
      <th class="th-sm">Статус оплаты </th>
      <th class="th-sm">Стоимость</th>
      <th class="th-sm">Подробная информация</th>
    </tr>
  </thead>
  <tbody #myTable>
    <tr *ngFor="let booking of profileBookings">
      <td>{{booking.bookingUid}}</td>
      <td>{{booking.registrationNumber}}</td>
      <td>{{booking.status}}</td>
      <td>{{booking.paymentStatus}}</td>
      <td>{{booking.price}}</td>
      <td>
        <button mat-raised-button type="button" class="btn" (click)="gotoProfileBooking(booking.bookingUid)">Просмотр </button>
      </td>
    </tr>
  </tbody>
</table>

<ngx-spinner bdOpacity=0.1 bdColor="rgba(51, 51, 51, 0.4)" size="medium" color="#fff" type="ball-beat"
             [fullScreen]="true">
  <p style="color: white"> Идет загрузка... </p>
</ngx-spinner>

